// COLOR VARIABLES
$color-primary: rgb(184, 15, 71);
$color-gray-dark: rgb(49, 49, 48);
$color-gray-heading: rgb(90, 88, 88);
$color-background-light: rgb(240, 239, 239);
$spinner: rgb(248, 43, 111);

// FONT VARIABLES
$font-primary: 'Noto Sans', sans-serif;

//size
$size: 60px;
